.main-content {
    padding: 2rem 10rem;
}

.box-content {
    width: 100%;
    border: 2px solid #e8e8e8;
    padding: 2rem;
}

h3 {
    margin-bottom: 1.6rem;
}

hr {
    border: 1px solid #e8e8e8;
}

table {
    margin-top: 1.6rem;
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
}

table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: #f1f1f1;
}

table tr:hover {
    background-color: #ddd;
}

table tr td a {
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    color: white;
}

.sign-out {
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    background-color: #ffccbc;
}

.edit {
    background-color: forestgreen;
}

.delete {
    background-color: red;
}

.bonus {
    background-color: blue;
}

@media screen and (max-width: 900px) {
    .main-content {
        padding: 2rem;
    }
}
